.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 78px;
}

.sidebar-link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 74px;
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
}
.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}

.sidebar-link .tooltip{
    position: absolute;
    font-family: Roboto, Arial;
    background-color: rgb(255, 255, 255);
    color: black;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    bottom: -10px;
    font-size: 10px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 2px;
    transition: 0.15s;
}

.sidebar-link:hover .tooltip{
    opacity: 1;
}

@media (min-width: 1200px) {
    .sidebar{
        width: 158px;
    }
    .sidebar-link{
        flex-direction: row;
        justify-content: start;
    }
    .sidebar-link div{
        margin-left: 10px;
    }
}